<%- include ('../parts/head') %>

<body>
    <nav>
        <%- include ('../parts/nav') %>
    </nav>

    <h1>L'équipe éducative</h1>
    
    <ul class="afficheAll">
        <% profs.forEach( prof => { %>
            <li>
                <div class="afficheAllDiv">

                    <% let fonction = ''; %>
                    <% if (prof.idClasse == 'Dir') { %>
                    <%     fonction = 'Directrice' %>
                    <%     console.log(fonction); %>
                    <% } else if (prof.idClasse == 'SEC1' || prof.idClasse == 'SEC2') { %>
                    <%     fonction = 'Secrétaire' %>
                    <% } else { %>
                    <%     fonction = 'Professeur' %>
                    <% }; %>


                    <h3><%= fonction %></h3>
                    <p><%= prof.nom %></p>
                    <p><%= prof.nomClasse %></p>
                    <h2>Et voici une photo</h2>
                    <img src='data:image/jpeg;base64, <%= prof.img %>' alt="Photo du prof" width="300">

                </div>
            </li>
        <% }) %>
    </ul>
    

    <footer>
        <%- include ('../parts/footer'); %>
    </footer>
    
</body>
</html>